.hero.is-fullheight {
  min-height: 100vh;
}
.hero {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.hero.is-fullheight .hero-body {
  display: flex;
  align-items: center;

  padding-top: 6rem;
  padding-bottom: 6rem;

  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}
.hero.is-fullheight .hero-body > .container {
  flex-grow: 1;
  flex-shrink: 1;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.landing-content {
  flex-direction: column-reverse;
}

.container {
  margin: 0 auto;
  position: relative;
}

.landing-illustration {
  width: 100%;
  max-width: 300px;
}

@media screen and (min-width: 769px), print {
  .column.is-5, .column.is-5-tablet {
    flex: none;
    width: 41.66666667%;
  }
}

.image.is-4by3{
  padding-top: 75%;
  display: block;
  position: relative;
}
.image > img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

/* custom */
.hero-body .columns {
    text-align: center;
}

.landing-content {
    display: flex;
    flex-direction: column-reverse;
}

.landing-illustration {
    width: 100%;
    max-width: 300px;
}

@media (max-width: 600px){
    .hero-body {
        padding: 1rem 0;
    }
}
